@import "../global";

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  gap: 32px;
}

.row {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.left_side {
  display: flex;
  justify-content: center;
}

.right_side {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.form {
  width: 100%;
}