@import "public/styles/global";

.history_title {
  margin-top: 32px;
  padding-left: 24px;
}

.edit_button {
  margin-left: 12px;
  cursor: pointer;

  & :hover {
    color: $main-color;
  }
}

.review_subject {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
}

.steps {
  margin-top: 8px;
  margin-bottom: 12px;
}

.new_comment_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 12px;
}