.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left_side {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
}

.grade_description {
  flex: 1 1;
  min-width: 400px;
}