@import '../../public/styles/global';

.content {
    background-color: $default-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright {
    text-align: center;
    color: $grey-900;
}