@import 'public/styles/global';

.content {
  display: flex;
  position: relative;
  height: max-content;
}

.avatar {
  background-color: $main-color;
}

.avatar__placeholder {
  position: absolute;
  left: 0;
  top: 0;
  color: $default-white;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.avatar__img {
  height: 100%;
  z-index: 1;
}

.edit_button {
  position: absolute;
  right: -20px;
  bottom: 10px;
}