@import '~antd/dist/antd.less';

@primary-color: #DB001A; // primary color for all components
@link-color: #1890FF; // link color
@success-color: #4AAF51; // success state color
@warning-color: #AF724A; // warning state color
@error-color: #DB001B; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 6px; // major border radius
@border-color-base: #d9d9d9; // major border color

@layout-body-background: #f0f2f5;
@layout-header-background: #000000;

body {
  font-family: Arial,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',-apple-system,sans-serif;
}