@import "public/styles/global";

.content {
  max-width: 270px;
  width: 100%;
}

.own_header {
  font-size: 16px;
  font-weight: 900;
}

.finish {
  color: $success-color;
}

.process {
  color: $link-color;
}

.wait {
  color: $error-color;
}