@import "public/styles/global";

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: $default-black;
  opacity: 1;
}

.content_anim {
  opacity: 0;
  transition: opacity 1s 0.5s ease-in-out;
}

.content_close {
  display: none;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.spinner {
  font-size: 5vw;
}